<h2 class="text-md-center">Lista dos VIPs</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th><strong>Nome</strong></th>
      <th><strong>CPF</strong></th>
      <th><strong>Celular</strong></th>
      <th><strong>Data de Nascimento</strong></th>
      <th><strong>Tipo</strong></th>
      <th><strong>Segurança</strong></th>
      <th><%= link_to peoples_new_path do %><span class="glyphicons glyphicons-plus btn btn-success"></span><% end %></th>
    </tr>
  </thead>
  <tbody>
    <% @peoples.each do |f|%>
      <tr>
        <td><%= f.name %></td>
        <td><%= f.cpf %></td>
        <td><%= f.cellPhone %></td>
        <td><%= f.borned %></td>
        <td><%= f.office %></td>
        <td><%= f.security %></td>
        <td><%= link_to peoples_edit_path do %><div class="glyphicons glyphicons-remove btn btn-warning"></div><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>